html {
    background-color: #f1dabc;
    background-image: url(./img/background.png);
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Fija la imagen */
    background-size: cover; /* Resize the background image to cover the entire container */
}

body {
    background: white;
    color: black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 2em 2em;
}

img {
    max-width: 1000px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }