body {
    background-color: white;
    color: black;
}

#header {
    background-color: wheat;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
   font-size: 50px;
   margin: 0 10px;
   line-height: 80px;
   text-transform: uppercase;
   width: max-content;
}

.nav-menu-item {
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

.nav-menu-item:hover {
    background-color: white;
    transition: 0.5s;
}

a {
    color: black
}

a:visited {
    color: gray
}

a:hover {
    color: goldenrod
}